<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>PLACEHOLDER_KEY</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:1234567890:ios:abcdef123456</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativereusables.app</string>
</dict>
</plist>
